<div class=" fixed inset-0 bg-gray-600 bg-opacity-50 flex justify-center items-center  ">
    <div class="bg-white p-4 rounded-lg shadow-lg">
        <h2 class="text-lg font-bold mb-4">Confirm Deletion</h2>
        <p>Are you sure you want to delete "{{ productName }}"?</p>
      <button (click)="confirmDeletion()" class="bg-red-600 hover:bg-red-700 text-white font-bold py-2 px-4 rounded mr-2">Confirm</button>
      <button class="bg-gray-500 hover:bg-gray-600 text-white font-bold py-2 px-4 rounded" (click)="close()">Cancel</button>
    </div>
  </div>