<section class="bg-white dark:bg-cyan-950 ">
    <div aria-hidden="true" class="absolute inset-0 top-32 h-max w-full m-auto grid grid-cols-2 gap-20 md:gap-60 opacity-40">
        <div class="blur-[106px] h-56 bg-gradient-to-br from-primary-500 to-purple-400"></div>
        <div class="blur-[106px] h-56 bg-gradient-to-r from-cyan-400 to-sky-300"></div>
    </div>
    <div class="container flex flex-col justify-center p-6 mx-auto sm:py-10 lg:py-10 lg:flex-row lg:justify-between items-center">
        <div class="flex flex-col justify-center p-6 text-center rounded-sm max-w-xl xl:max-w-lg lg:text-left">
            <h1 class="max-w-2xl mb-4 text-2xl font-extrabold tracking-wide leading-none md:text-4xl xl:text-4xl dark:text-white font-lato">Dive into the Future with e-ADK – Where Technology Meets Affordability!
            </h1>
            <p class="max-w-2xl mb-6 font-light text-gray-500 lg:mb-8 md:text-lg lg:text-xl dark:text-gray-400">Enjoy easy navigation, detailed product information, and a hassle-free checkout process.</p>
            <div class="flex flex-col space-y-4 sm:items-center sm:justify-center sm:flex-row sm:space-y-0 sm:space-x-4 lg:justify-start">
                <a href="" class="relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-base sm:text-base font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-purple-600 to-blue-500 group-hover:from-purple-600 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800">
                    <span class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
                    Discover all our Categories
                    </span> 
                    </a>
            </div>
        </div>
        <div class="flex flex-col items-center justify-center p-6 text-center rounded-sm max-w-xl xl:max-w-lg lg:text-left">
            <img src="assets/images/watch.png" alt="" class="w-full">
        </div>
    
    </div>
</section>