<section class="pt-16 pb-20">
        <div class="text-center pb-16">
            <h1 class="font-bold text-4xl">We sell every brand you like</h1>
        </div>
        <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">   
            <div ngxSlickItem *ngFor="let brand of brands" class="slide">
                <div class="flex flex-col items-center px-8 h-[90px]">
                <img src="{{brand.img}}" class="w-auto h-auto max-w-[120px] max-h-[40px] mt-auto mx-auto mb-8"/> 
                <p class="text-xs font-medium mt-auto text-black text-body-color">{{brand.name}}</p>
                </div>
            </div>
        </ngx-slick-carousel>
        
        
</section>
