<header class="antialiased sticky top-0 z-30">
  <nav class="bg-headerColor border-gray-200 px-4 lg:px-10 py-4 mx-auto">
      <div class="flex flex-wrap justify-between items-center">
          <div class="flex justify-start items-center">
              <button aria-expanded="true" aria-controls="sidebar" class="p-2 mr-2 text-white rounded-lg cursor-pointer lg:hidden  hover:bg-gray-100 focus:bg-gray-100  focus:ring-2 focus:ring-gray-100    ">
                <svg class="w-[18px] h-[18px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/></svg>
                <span class="sr-only">Toggle sidebar</span>
              </button>
              <a [routerLink]="''" class="flex mr-4">
                <span class="self-center text-2xl font-semibold whitespace-nowrap text-white">e-ADK</span>
              </a>
            </div>
              <div class="flex-1 flex justify-center items-center">
                <ul class="hidden font-medium lg:flex">
                  <li class="mr-12">
                    <a href="" class="text-white">Product</a>
                  </li>
                  <li class="mr-12"><a href=""
                          class="text-white">Category</a>
                  </li>
                  <li class="mr-12"><a href=""
                          class="text-white">Collection</a>
                  </li>
                  <li class="mr-12"><a href=""
                          class="text-white">Brand</a>
                  </li>
              </ul>
              </div>
          <div class="flex justify-end items-center">
              <a routerLink="/cart" type="button" class="mx-1 text-white relative" aria-label="View cart">
                                   
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-7 h-7">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 10.5V6a3.75 3.75 0 1 0-7.5 0v4.5m11.356-1.993 1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 0 1-1.12-1.243l1.264-12A1.125 1.125 0 0 1 5.513 7.5h12.974c.576 0 1.059.435 1.119 1.007ZM8.625 10.5a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm7.5 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Z"/>
                  <text  *ngIf="cartItemCount>0" x="12" y="18" text-anchor="middle" fill="currentColor" font-size="9px">{{ cartItemCount }}</text>
              </svg>
              
              </a>
              @if(!isLoggedIn){
                <a [routerLink]="['/login']" routerLinkActive="active" class="mx-1 text-white cursor-pointer" aria-label="Login">
                  <!-- SVG for Cart Icon -->
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-7 h-7">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z" />
                  </svg>
                    
          </a>
              } @else {
                 <button (click)="toggleDropdown()" type="button" class="flex mx-3 text-sm bg-gray-800 rounded-full md:mr-0 focus:ring-4 focus:ring-gray-300 " id="dropdown-button">
                  <span class="sr-only">Open user menu</span>
                  <img class="w-8 h-8 rounded-full" src="assets/images/{{user?.imgName}}" alt="user photo">
              </button>
              <div  [class.hidden]="!isDropdownVisible" class="top-full right-6 hidden absolute z-50  w-56 text-base list-none bg-white rounded divide-y divide-gray-100 shadow " id="dropdown">
                  <div class="py-3 px-4">
                      <span class="block text-sm font-semibold text-gray-900 ">{{user?.name}}</span>
                      <span class="block text-sm text-gray-500 truncate ">{{user?.email}}</span>
                  </div>
                  <ul class="py-1 text-gray-500 " aria-labelledby="dropdown">
                      <li>
                          <a routerLink="/account" class="block py-2 px-4 text-sm hover:bg-gray-100">My profile</a>
                      </li>
                      <li>
                          <a href="#" class="block py-2 px-4 text-sm hover:bg-gray-100">Account settings</a>
                      </li>
                  </ul>
                  <ul class="py-1 text-gray-500 " aria-labelledby="dropdown">
                      <li>
                          <button (click)="onLogout()" class="w-full bg-headerColor text-white block py-2 px-4 text-sm">Sign out</button>
                      </li>
                  </ul>
              </div> 
              }
          </div>
      </div>
  </nav>
</header>
