<div class="pt-15 pb-16 bg-bgColor overflow-auto	">
    <div class="text-center p-10">
        <h1 class="font-bold text-4xl mb-4">Our Featured Categories</h1>
    </div>
    <nav class="flex flex-wrap justify-center">
        @for (cat of category; track $index) {
            <button  (click)="getProductsByCategory(cat.idCat)" type="button" class="py-2.5 px-5 me-2 mb-2 text-sm font-medium text-white focus:outline-none bg-headerColor rounded-full border border-gray-200 focus:z-10 focus:ring-4 focus:ring-gray-200 ">{{cat.name_cat}}</button>
        }
    </nav>
    <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig" *ngIf="dataReady">
  <div ngxSlickItem *ngFor="let product of products" class="slide px-4 mb-6">
    <app-product-card [product]="product" [productId]="product.id" [isInCart]="isProductInCart(product.id)" (addToCart)="addToCart(product)"></app-product-card>
  </div>
</ngx-slick-carousel>
</div>
