<div class=" fixed inset-0 bg-gray-600 bg-opacity-75 flex justify-center items-center px-2  mt-16">
  <div class=" bg-white py-2 px-4  rounded-lg shadow-lg max-w-md w-full">
    <h2 class="text-xl font-bold mb-1 text-gray-800">Update Product</h2>
    <form (submit)="submitProduct()" >
      <!-- Product Name -->
      <div class="mb-2">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="product-name">Product Name<span class="text-red-500">*</span></label>
        <input type="text" id="product-name" [(ngModel)]="product.name_prod" name="productName" class="shadow appearance-none border rounded w-full py-1 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required>
      </div>

      <!-- Product Description -->
      <div class="mb-2">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="product-description">Description<span class="text-red-500">*</span></label>
        <textarea id="product-description" [(ngModel)]="product.desc_prod" name="productDescription" class="shadow appearance-none border rounded w-full py-1 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required rows="3"></textarea>
      </div>

      <!-- Product Price -->
      <div class="mb-2">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="product-price">Price ($) <span class="text-red-500">*</span></label>
        <input type="number" id="product-price" [(ngModel)]="product.price" name="productPrice" class="shadow appearance-none border rounded w-full py-1 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required min="0">
      </div>

      <!-- Product Quantity -->
      <div class="mb-2">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="product-quantity">Quantity<span class="text-red-500">*</span></label>
        <input type="number" id="product-quantity" [(ngModel)]="product.qte_prod" name="productQuantity" class="shadow appearance-none border rounded w-full py-1 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required min="0">
      </div>

      <!-- Product Category Dropdown -->
      <!-- This part needs to be dynamically filled with category options -->
      <div class="mb-2">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="product-category">Category<span class="text-red-500">*</span></label>
        <select id="product-category" [(ngModel)]="product.id_cat" name="productCategory" class="shadow border rounded w-full py-1 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required>
          <!-- Category options should be populated here -->
          <option *ngFor="let category of categories" [value]="category.id_cat">{{category.name_cat}}</option>
        </select>
      </div>

      <!-- File Input for Image -->
      <div class="mb-2">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="product-image">Product Image<span class="text-red-500">*</span></label>
        <input type="file" id="product-image" (change)="onFileSelected($event)" class="block w-full text-sm text-gray-700 p-1 border rounded" required>
      </div>

      <!-- Action Buttons -->
      <div class="flex justify-between">
        <button type="submit" class="bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">update product</button>
        <button type="button" (click)="close()" class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Cancel</button>
      </div>
    </form>
  </div>
</div>

