<div class="flex flex-row px-5"> <!-- 20px padding on left and right -->
    <div class="lg:w-1/2"> <!-- Replaces col-lg-6 -->
        <div class="overflow-hidden rounded-lg shadow-lg">
            <div class="relative pb-1/1"> <!-- For padding-top: 100%; -->
                <img src="https://www.macoque.com/img/blocks/6_1_img_background_lg.jpg" alt="Coques et accessoires Samsung Galaxy Flip 5" width="540" height="540">
            </div>
        </div>
        <div>
            <h2 class="text-xl font-bold text-white mb-0">
                Samsung Galaxy Flip 5
            </h2>
            <p class="text-lg text-white">
                Protégez le au meilleur prix
            </p>
            <p class="mb-0">
                <a class="py-2 px-4 bg-gray-800 text-white rounded hover:bg-gray-700" href="https://www.macoque.com/3785-samsung-galaxy-z-flip-5">Découvrir les coques Galaxy Flip 5</a>
            </p>
        </div>
    </div>
    <div class="lg:w-1/2"> <!-- Replaces col-lg-6 -->
        <div class="overflow-hidden rounded-lg shadow-lg">
            <div class="relative pb-1/1"> <!-- For padding-top: 100%; -->
                <img src="https://www.macoque.com/img/blocks/6_1_img_background_lg.jpg" alt="Coques et accessoires Samsung Galaxy Flip 5" width="540" height="540">
            </div>
        </div>
        <div>
            <h2 class="text-xl font-bold text-white mb-0">
                Samsung Galaxy Flip 5
            </h2>
            <p class="text-lg text-white">
                Protégez le au meilleur prix
            </p>
            <p class="mb-0">
                <a class="py-2 px-4 bg-gray-800 text-white rounded hover:bg-gray-700" href="https://www.macoque.com/3785-samsung-galaxy-z-flip-5">Découvrir les coques Galaxy Flip 5</a>
            </p>
        </div>
    </div>
</div>
